.DS_Store
.sfdx
config/.orgs.json
config/*fetch-result.json
config/.credentials
config/.debug
config/.describe
config/.lightning
config/.local_store
config/.org_metadata
config/.settings
config/deployments
*.sublime-project
node_modules
resource-bundles/TWS_Sync_Data.resource
src/staticresources/TWS_Sync_Data.resource
pmd-code-review.html
pmd-report.html